################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/daily-planner-with-god-ui/FileContentIndex/da9325a6-3e54-4b4b-84fb-3f3091fb93a9.vsidx
/.vs/daily-planner-with-god-ui/FileContentIndex
*.vs
