# Node modules
/node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist/
/build/

# System Files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.vs
# Environment files
.env
.env.local
.env.*.local

# MacOS
*.swp

# Miscellaneous
*.log